footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  footer ul li img {
    width: 24px;
    height: 24px;
  }